<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TensorFlow.js Tutorial</title>

  <!-- Import TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
  <!-- Import tfjs-vis -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>


</head>

<body>

    <h2 id="headline">Hello</h2>

    <p>Website für einen Zifferlerner</p>


    <!-- Import the main script file 
    <script src="script.js" type="module"></script> -->


    <!-- Just for Testing  -->
    <script src="./dataMixed.js" type="module"></script>



    <!-- Just for Testing -->
    <script src="./script.js" type="module"></script>




  <script>
  //  document.addEventListener('DOMContentLoaded', run);

    

  </script>

</body>
</html>